/* PathfindingVisualizer.css */

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.row {
  display: flex;
}

.node {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  display: inline-block;
}

.node-start {
  background-color: green;
}

.node-finish {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.glow-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff;
}

.glow-button:hover {
  background-color: #333;
}